<!DOCTYPE html>
<html>
<header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="stylesheet" href="/reset.css">
    <link type="text/css" rel="stylesheet" href="/main.css">
    <link type="text/css" rel="stylesheet" href="/signin.css">
</header>

<body class="flex-display-center mg-top-50">

    <%- include('includes/nav')%>

    <main class="signin-container">
        <h1>Weekly budget</h1>
        <div class="flex-display-around">
            <h3 class="change-week font-light text-align-center"><</h3>
            <h3>2020.03.16. - 2020.03.22.</h3>
            <h3 class="change-week font-light text-align-center">></h3>
        </div>
        <section>
            <ul class="costs-container">
                <li class="flex-display-center cost-items-title bc-dark">
                    <h3 class="font-light">Items</h3>
                </li>
                <% if(expenses) {%>
                <% expenses.forEach( function (expense) { %>
                <li class="flex-display-center cost-item">
                    <div class="cost-title"><%= expense.title %></div>
                    <div class="cost"><%= expense.ammount %></div>
                    <div class="cost-currency"><%= expense.currency %></div>
                </li>
                <% })} else { %>
                <li>No expenses here...</li>
                <% } %>
            </ul>
            <h3></h3>
            <div class="costs-container flex-display-center cost-item total-spent">
                <div class="cost-title">Total spent</div>
                <div class="cost"><%= spent %></div>
                <div class="cost-currency">HUF</div>
            </div>
            <h3></h3>
            <div class="costs-container flex-display-center cost-item budget">
                <div class="cost-title">Budget</div>
                <div class="cost">25 000</div>
                <div class="cost-currency">HUF</div>
            </div>
            <h3></h3>
            <div class="costs-container flex-display-center cost-item remaining font-bold">
                <div class="cost-title">Remaining</div>
                <div class="cost"><%= remaining %></div>
                <div class="cost-currency">HUF</div>
            </div>
        </section>
    </main>
</body>

<%- include('includes/footer') %>